.App {
  text-align: center;
}
/* 
.rbc-month-header > :first-child,
.rbc-month-header > :last-child{
  display: none;
}

.rbc-row-segment {
    flex-basis: 20% !important;
    max-width: 20% !important;
}

.rbc-month-row > .rbc-row-bg > :first-child,
.rbc-month-row > .rbc-row-bg > :last-child {
  display: none;
}

.rbc-row-content > .rbc-row > .rbc-date-cell:first-child,
.rbc-row-content > .rbc-row > .rbc-date-cell:last-child {
  display:none;
} */